.form-field {
  span {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    padding: 18px 18px;
    div {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-top: -4px;
      border: 1px solid var(--light-grayish-blue);
    }
  }
  input {
    width: 90vw;
    height: 48px;
    border: none;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    border-radius: 5px;
  }
}
.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(
    1px 1px 1px 1px
  ); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}
